[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylint --recursive=true ."

[packages]
"discord.py" = "*"
python-dotenv = "*"
pynacl = "*"
motor = "*"
motor-types = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
